body {
  background : white;
  color: black;
  font-family: sans-serif;
}

table.title {
  border : 0;
  text-align : left;
  font-size: large;
  width: 100%;
  background-color: #66cccc;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom:0.5em
}

td.top {
  text-align : right;
}

li {
  padding-top: 0.5em;
  padding-bottom: 0.5em
}

a:link img, a:visited img {
	border-style: none
}

address img {
  float: right;
  padding: 0.5em;
}

