body {
  background : white;
}

table {
  border : 0;
  text-align : left;
  width: 100%;
  background-color: #66cccc;
}

h1 {
  font-size : 32pt;
  font-family: helvetica,arial,sans-serif; 
  text-align: center;
}

td {
  vertical-align: top; 
  font-family: helvetica,arial,sans-serif; 
  width: 50%;
  color: black;
}

td.title {
  font-family: sans-serif;
  font-size: large;
  text-align: left;
}

td.top {
  font-weight: bold;
  font-size: small;
  text-align: right;
  vertical-align: middle;
}

th {
  text-align : left;
}
